[Unit]
Description=Handle three finger gestures
Wants=sddm.service

[Install]
WantedBy=xsession.target

[Service]
Type=forking
ExecStart=/usr/bin/libinput-gestures-setup start
ExecStop=/usr/bin/libinput-gestures-setup stop
